<div class = "page-header">
    <h1>
        Pilots Eat 
    </h1>
    <p>The All-In-One Resource for University of Portland Student Hunger</p>
  
</div>
  
<app-navbar activeNavLink="food-reviews"></app-navbar>
  
<body>
  <div class="page-content">
    <ng-container *ngFor="let reviewPost of reviewPosts; let i = index;">
      <app-review-post [post]="reviewPost"></app-review-post>
    </ng-container>        
  </div>
  <app-submission-form [hasLocation]="false" [isStore]="false" ></app-submission-form>
</body>

<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 <a href="https://www.linkedin.com/in/trey-dettmer-5b1088168/">Trey Dettmer</a> 
  </div>
</footer>