

.page-header {
    text-align: center;
    background-color: var(--uppurple) !important;
    padding-bottom: .5em;
}

.page-header > h1 {
    font-size: 4em;
    color: white
}

.page-header > p {
    color: white;
}

.navbar{
    text-align:center;
    padding: 0px 0px;
}

.navbar-toggle {
    float: none;
    margin-right:0;
}

img {
    float: left;
    height: 100%;
    padding: .6em;
}


@media only screen and (max-width: 600px) {
    body {
        margin: auto 1em;
        text-align: center;
        display: inline-block;   
    }
}

@media only screen and (min-width: 600px) {
    body {
        margin: auto 10em;
        text-align: center;
        display: inline-block;   
    }
}


body p {
    text-align: justify;
    font-size: 1.5em;
}

.nav-item {
    font-size: 1.3em;
}