.container {
    padding: 0;
}


.inputs-container {
    display: grid;
    grid-template-rows: 30px 30px auto auto;
    grid-template-columns: 100px 150px;
    justify-content: center;
    grid-row-gap: 10px;
}




.subject-label {
}

.subject-input {

}

.email-label {

}

.email-input {

}

.review-label {

}

.submit-input {
    margin: 10px;
}