<div class = "page-header">
    <h1>
        Pilots Eat 
    </h1>
    <p>The All-In-One Resource for University of Portland Student Hunger</p>
  
</div>
  
<app-navbar activeNavLink="home"></app-navbar>
  
<body>
  <div class="page-content">
    
      <img class="image"  width="245" height="245" src= './assets/img/up_p_logo_purple.png'  alt="image">
    
    
    <p>
      Welcome to Pilots Eat! This website is meant to help University of Portland students find and spread the word about great food to try while living on the Bluff. There are three main sections of this website: <a href="food-reviews">Food Reviews</a>, <a href="steals-and-deals">Steals & Deals</a>, and <a href="off-campus">Off Campus</a>. Food Reviews is where you can find student written reviews about food served on campus. Steals & Deals is where you can discover popular and limited items at Mack's Market and other nearby grocers. Finally, Off Campus is where you can learn about the best spots to eat around the Bluff and Portland as a whole.
    
      <br> This is a mockup version of the website. There is not currently a way for users to add a post to the website. All posts and descriptions have been written as examples by the website creator.
    </p>
  </div>
</body>

<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 <a href="https://www.linkedin.com/in/trey-dettmer-5b1088168/">Trey Dettmer</a> 
  </div>
</footer>
  
  
