<div class = "page-header">
    <h1>
        Pilots Eat 
    </h1>
    <p>The all-in-one resource for University of Portland student hunger</p>
  
</div>
  
<app-navbar activeNavLink="home"></app-navbar>
  
<body>
  <div class="page-content">
    
      <img  width="245" height="245" [src]="devMode ? './assets/img/up_p_logo_purple.png' : '../assets/img/up_p_logo_purple.png'"  alt="image">
    
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut euismod ac lectus vel sagittis. Donec egestas ipsum dictum convallis viverra. Donec vel diam at purus efficitur consequat. Aenean lobortis mauris quis ex mollis sodales vitae eget nibh. Curabitur eu vulputate mi. Donec ligula leo, porta ut efficitur nec, sollicitudin a tellus. In mollis mi vitae nisi vulputate aliquam.

      Nullam sed malesuada magna. Morbi quis blandit nisl. Donec eget faucibus purus, in luctus urna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc et dignissim libero. Nullam pulvinar purus id porttitor eleifend. Cras id semper neque. Nunc leo lorem, suscipit dapibus maximus a, gravida vel est. Integer dignissim massa id elit vulputate, et ornare enim vulputate. Sed sed ante ut mauris pellentesque ullamcorper.
    </p>
  </div>
</body>

<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright
  </div>
</footer>
  
  
