

.page-header {
    text-align: center;
    background-color: var(--uppurple) !important;
    padding-bottom: .5em;
}

.page-header > h1 {
    font-size: 4em;
    color: white
}

.page-header > p {
    color: white;
}


a:link {
     text-decoration: none; 
     color: var(--uppurple);
}


a:visited { text-decoration: none; 
    color: var(--uppurple);}


a:hover { text-decoration: none; 
    color: var(--uppurple);}


a:active { text-decoration: none; 
    color: var(--uppurple);}




@media only screen and (max-width: 600px) {
    body {
        margin: auto 1em;
        text-align: center;
        display: inline-block;   
    }

    .image {
        width: 180px;
        height: 180px;
        padding: .6em;
    }
}

@media only screen and (min-width: 600px) {
    body {
        margin: auto 10em;
        text-align: center;
        display: inline-block;   
    }

    .image {
        width: 245px;
        height: 245px;
        float: left;
        padding: .6em;
    }
}


body p {
    text-align: justify;
    font-size: 1.5em;
}

.nav-item {
    font-size: 1.3em;
}

